@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONTS SETUP */
@font-face {
  font-family: 'PTSerif';
  src:
    url('/fonts/woff2/PTSerif-Regular.woff2') format('woff2'),
    url('/fonts/woff/PTSerif-Regular.woff') format('woff'),
    url('/fonts/ttf/PTSerif-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'PTSerif';
  src:
    url('/fonts/woff2/PTSerif-Bold.woff2') format('woff2'),
    url('/fonts/woff/PTSerif-Bold.woff') format('woff'),
    url('/fonts/ttf/PTSerif-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Nexa';
  src:
    url('/fonts/woff2/NexaLight.woff2') format('woff2'),
    url('/fonts/woff/NexaLight.woff') format('woff'),
    url('/fonts/ttf/NexaLight.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

/* @font-face {
  font-family: "PTSerif";
  src: url("../../public/fonts/woff2/PTSerif-Regular.woff2") format("woff2"),
    url("../../public/fonts/woff2/PTSerif-Regular.woff2") format("woff2"),
    url("../../public/fonts/woff2/PTSerif-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
} */

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --traffic-white: 18 52% 94%;
    --light-gray: 120, 2%, 12%;
    --silver-gray: 12, 7%, 67%;
    --light-green: 144, 79%, 62%;
    --vimpire-black: 0, 0%, 3.92%;
    --paradise-red: 352, 79%, 60%;
    --tangerine: 14, 100%, 70%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .primary-button {
    @apply text-traffic-white rounded-md bg-gradient-to-r from-[#FF8A65] to-[#FF5722] font-Nexa text-base font-bold;
  }
  .bg-gradient-cta {
    @apply bg-gradient-to-r from-[#FF8A65] to-[#FF5722];
  }
  .text-gradient-cta {
    @apply bg-gradient-to-r from-[#FF8A65] to-[#FF5722] bg-clip-text text-transparent;
  }
  .gradient-highlight {
    @apply bg-gradient-to-r from-[#FF8A65] to-[#53EB8D];
  }
}
